<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite>
            <directory>tests/Ingenico/Connect/Sdk</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>
</phpunit>
